@media (max-width: 576px) {
    .login {
        width: 100%;
        flex: 1;
        max-width: 90%;
        padding: 30px 0 0 0;
    }

    header {
        padding: 15px;

        .logo {
            justify-content: center;
        }

        .menu-top {
            margin-top: 10px;
            justify-content: center;
        }

        .search {
            margin-top: 15px;
        }
    }

    .statistics {
        .row {
            flex-flow: column;
            display: block;

            .col {
                &:first-child {
                    p {
                        border-bottom: 1px solid #e4e4e4;
                    }
                }
            }

            p {
                border: 0;
                padding: 30px 0;
            }
        }
    }

    footer .top-footer ul li a {
        padding: 10px 15px !important;
        display: block;
    }

    .bottom-footer {
        .copy-right {
            order: 2;
            justify-content: center;
            margin-top: 15px;
        }

        .social {
            order: 1;
            justify-content: center;
        }
    }
}

 @media (max-width: 992px) {
    /*-----------header--------------*/
    header .logo {
        padding: 15px;
        justify-content: center;
    }

    .menu-top {
        margin-top: 10px;
        justify-content: center;
    }

    .search {
        margin-top: 15px;
    }
    /*-------SignUp---------------------*/
    .sign-head .sign-option h3 a {
        font-size: 15px;
    }

    .sign-head {
        padding: 100px 20px 0 20px;
    }

    .signUp {
        padding: 50px 20px 60px 20px;
    }
    /*-------------------------Index-Page---------------------------------------*/
    /*---------Slider----------*/
    .slider .owl-theme .container-item .slide-text .slide-content {
        width: 90%;
    }

    .slider .owl-theme .container-item .slide-text .slide-content h2 {
        font-size: 30px;
        margin: 10px auto;
    }

    .mouse_scroll {
        bottom: 0;
    }
    /*---------publisher----------*/
    .publisher h2 {
        margin: 0;
    }

    .publisher p {
        font-size: 12px;
    }
    /*---------publisher-video----------*/
    .publish-video .video-content h2 {
        font-size: 25px;
    }

    .publish-video .video-content p {
        font-size: 12px;
        line-height: 1.5;
        margin: 20px 0;
    }

    .publish-video .video-content .add-quiz-button {
        width: 70%;
        margin: 10px 0;
    }
    /*---------Trend-exam----------*/
    .trend-exam h2 {
        margin: 0;
    }

    .trend-exam .course-img {
        height: 160px;
    }

    .trend-exam p {
        font-size: 10px;
        margin: 5px 0;
    }

    .trend-exam span {
        font-size: 10px;
    }

    .fa-star {
        font-size: 10px;
    }
}

@media (max-width: 768px) {
    /*----------------------------Index-page--------------*/
    /*---------Slider----------*/
    .slider .owl-theme .container-item .slide-text .slide-content h2 {
        font-size: 20px;
    }

    .slider .owl-theme .container-item .slide-text .slide-content p {
        display: none;
    }

    .slider .add-quiz-button, .slider .save-quiz {
        display: block;
        width: 50%;
        margin: 5px;
    }

    .slider .add-quiz-button button, .slider .save-quiz button {
        padding: 10px 0;
        font-size: 8px;
    }
    /*---------Mouse----------*/
    .mouse_scroll {
        width: 15px;
        bottom: 3px;
    }

    .mouse {
        height: 20px;
    }
    /*-----publish-video-----*/
    .publish-video .video-content h2 {
        font-size: 15px;
    }

    .publish-video .video-content p {
        display: none;
    }

    .publish-video .video-content .add-quiz-button button {
        padding: 10px 0;
    }

    .publish-video .video-content .add-quiz-button button a {
        font-size: 14px;
    }

    .publish-video .video-content i {
        font-size: 50px;
    }
    /*---------testimonials----------*/
    .testimonials h2 {
        margin-bottom: 20px;
    }

    .testimonials .owl-theme .container-item p {
        font-size: 12px;
        width: 80%;
    }

    .testimonials .owl-theme .owl-nav i {
        font-size: 30px;
    }

    .testimonials .owl-theme .owl-nav .owl-next {
        right: 0;
    }

    .testimonials .owl-theme .owl-nav .owl-prev {
        left: 0;
    }
    /*--------------Subscribe-----------------*/
    .subscribe .exam-code {
        width: 80%;
    }

    .subscribe .exam-code .exam-co button {
        padding: 14px 14px 13px;
        font-size: 12px;
    }
}

@media (max-width: 576px) {
}














/*-------------------------*/
@media (max-width: 768px) {
}
/*------------------------*/
@media (max-width: 992px) {
}
/*------------------------*/
@media (max-width: 1200px) {
}
