@mixin transition($transition) {
    -webkit-transition: all $transition ease-in-out;
    -moz-transition: $transition ease-in-out;
    transition: all $transition ease-in-out;
}

  
$font-color: #3d3d3d;
$main-color: #ff5a5f;
$border-color: #e6e6e6;
$sec-color: #faac07;
$third-color: #6684f2;