/*--------SH--------------*/
/*-----------------------------Create-Exam-Page--------------*/
label{
    margin:10px 7px;
}
.create-exam{
    padding-right: 30px;
}
.exam-setting{
    border-left:1px solid #e6e6e6 ;
}
.exam-setting .exam-padding{
    padding: 30px 0 30px 30px;
    border-bottom:1px solid #e6e6e6 ;
}
.exam-setting .exam-padding:last-child{
    border-bottom:0 ;
}
/*Language*/
.exam-setting .lang{
    padding: 0 0 20px 30px;
    border-bottom:1px solid #e6e6e6 ;
}
.exam-setting .lang .exam-lang{
    width: 100%;
}
/*Points*/
.exam-setting .exam-point .exam-p{
    position: relative;
}
.exam-setting .exam-point .exam-p span{
    position: absolute;
    right: 10px;
    bottom: 0;
    border-left: 1px solid #e6e6e6;
    padding: 10px;
}
/*tags*/
.exam-setting .exam-tag .tags{
    display: flex;
    flex-wrap: wrap;
}
.exam-setting .exam-tag .tags span{
    padding: 5px 10px;
    background:#e8eff0;
    margin: 5px;
    border-radius: 40px;
}
.exam-setting .exam-tag .tags span i{
    padding: 3px;
    border: 1px solid #e6e6e6;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}
/*Share*/
.exam-setting .exam-share .share{
    display: flex;
    flex-wrap: wrap;
}
.exam-setting .exam-share .share span{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    margin: 0 3px;

}
.exam-setting .exam-share .share span.fa-facebook {
    background-color: #3b5998;
}
.exam-setting .exam-share .share span.fa-twitter {
    background-color: #50abf1;
}
.exam-setting .exam-share .share span.fa-google-plus {
    background-color: #dd4b39;
}
.exam-setting .exam-share .share span.fa-instagram {
    background-color: #ee539e;
}
/*code*/
.exam-setting .exam-code .exam-co{
    position: relative;
}
.exam-setting .exam-code .exam-co button{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 11px 10px 10px 10px;
    background-color: #ff5a5f;
    color: white;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 0;
    cursor: pointer;
}
/*buttons*/
.exam-setting .exam-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.exam-setting .exam-buttons .add-quiz-button, .exam-setting .exam-buttons  .save-quiz {
    width: 49%;
    margin:  20px auto;
}
.exam-setting .exam-buttons .add-quiz-button button, .exam-setting .exam-buttons  .save-quiz button {
min-width: inherit;
}

/*----------------------------SignUp-Page--------------*/
.sign-head{
    background-color: #f8f8f8;
    padding: 100px 50px 0 50px;
    border: 1px solid #e6e6e6;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom: 0;
}
.sign-head h1{
    color: #3d3d3d;
    text-transform: uppercase;
    font-weight:600;
    padding-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
}
.sign-head .sign-option{
    padding: 20px 15px;

}
.sign-head .sign-option h3 a{
    font-size: 20px;
    color:black ;
    padding: 20px 0;
}
.sign-head .sign-option.active h3 a{
     color: #ff5a5f;
    border-bottom: 1px solid  #ff5a5f;
}
.signUp{
    overflow: hidden;
    height: auto;
    width: 100%;
    display: block;
    padding: 50px 50px 60px 50px;
    border: 1px solid #e6e6e6;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top: 0;
}
.signUp .term{
    color: #ff5a5f;
    padding: 15px 0;
    display: inline-block;
}
.signUp hr{
    margin-top: 60px ;
}
.signUp .login{
    border: 0;
}

/*----------------------------Index-page--------------*/
/*---------Slider----------*/
.main-home{
    padding: 0;
}
.slider {
    overflow: hidden;
    height: auto;
    width: 100%;
    display: block;
    position: relative;
}
.slider .owl-theme .container-item {
    overflow: hidden;
    height: auto;
    width: 100%;
    display: block;
    position: relative;
}
.slider .owl-theme .container-item img {
    width: 100%;
    min-height: 200px;
}
.slider .owl-theme .container-item .slide-text {
    position: absolute;
    right:0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .owl-theme .container-item .slide-text .slide-content {
    color: white;
    width: 70%;
    text-align: center;
}
.slider .owl-theme .container-item .slide-text .slide-content h2{
    font-weight: bold;
    font-size: 40px;
}
.slider .owl-theme .container-item .slide-text .slide-content p{
    font-weight: normal;
    font-size: 14px;
    width: 65%;
    margin: 25px auto;
}
.slider .owl-theme .container-item .slide-text .slide-content .slider-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.slider .add-quiz-button, .slider .save-quiz{
    width: 30%;
    margin:  20px 10px;
}
.slider .add-quiz-button button, .slider .save-quiz button{
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 14px;
    min-width: inherit;
}
.slider .slider-buttons a{
    color: white;
}
.slider .owl-theme .owl-nav,.slider .owl-theme .owl-dots{
    display: none;
}
/*---------Mouse----------*/
.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 35px;
    position: absolute;
    bottom: 43px;
    z-index: 100;
    left: 0;
    right: 0;
}
.mouse {
    height: 50px;
    width: 100%;
    border-radius: 16px;
    transform: none;
    border: 2px solid white;
    top: 0;
}
.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-animation: mouse-wheel 0.6s linear infinite;
    -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}
@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
/*---------publisher----------*/
.publisher{
    padding: 100px 0;
}
.publisher h2{
    text-align: center;
    font-size: 27px;
    color: #454545;
    text-transform: uppercase;
    margin: 50px auto 70px;
}
.publisher h3{
    font-weight: lighter;
    font-size: 20px;
    color: black;
    text-transform: capitalize;
    margin: 100px 0 40px;
}
.publisher p{
    font-size: 14px;
    font-weight: normal;
    margin: 25px 0 0;
    text-align: center;
    color: black;
    display: block;
    text-transform: capitalize;
}
.publisher .colored-p {
    color: #544cf9;
    text-align: center;
    text-transform: capitalize;
    margin: 10px 0 ;
}
.publisher .top-publisher img{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border-radius: 50%;
    width: 70%;
    margin: 0 auto;
    display: block;
}
.publisher .top-publisher .publisher-item{
    position: relative;
}
.publisher .top-publisher a{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}
.publisher .top-publisher .publisher-item:hover img{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
   box-shadow: 0 2px 20px 2px #c7c7c7;
}
.publisher .top-exam{

}
.publisher .top-exam a{
    display: block;
    font-size: 14px;
    color: #7d7d7d;
    text-transform: capitalize;
    margin: 15px 0;
}
.publisher .top-exam a:hover{
    color:#544cf9 ;
}
/*---------publisher-video----------*/
.publish-video {
    position: relative;
    background-color: #f2f2f2;
}
.publish-video img{
    width: 100%;
    min-height: 200px;
}
.publish-video a {
    outline: 0;
}
.publish-video .video-content {
    position: absolute;
    right: 0;
    bottom:0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.publish-video .video-content h2 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
}
.publish-video .video-content p {
    font-weight: normal;
    font-size: 16px;
    color: white;
    line-height: 2;
    margin: 40px 0;

}
.publish-video .video-content .add-quiz-button {
    width: 40%;
    margin: 20px 0;
}
.publish-video .video-content .add-quiz-button button{
    padding: 20px 0;
}
.publish-video .video-content .add-quiz-button button a{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
.publish-video .video-content .icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.publish-video .video-content a{
    display: inline-block;
}
.publish-video .video-content i{
   color: white;
    font-size: 100px;
}
/*---------Trend-exam----------*/
.trend-exam {
    padding: 100px 0;
    background-color: #f2f2f2;
}
.trend-exam h2{
    text-align: center;
    font-size: 27px;
    color: #454545;
    text-transform: uppercase;
    font-weight: bold;
}
.trend-exam h4{
    font-weight: lighter;
    text-align: center;
    font-size: 14px;
    color: #8c8c8c;
    margin: 20px 0 40px;
    line-height: 1.5;
}
.trend-exam .trend-course{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: relative;
    margin: 20px 0;
}
.trend-exam .trend-course a{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.trend-exam .trend-course:hover{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 2px 20px 2px #c7c7c7;
}
.trend-exam .trend-course .course-content{
    padding: 10px 10px 20px 10px;
}
.trend-exam .course-img {
    width: 100%;
    height: 180px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trend-exam img{
    width: 100%;
}
.trend-exam h3{
    font-size: 22px;
    color: #363636;
    font-weight: bold;
    margin-top: 10px;
}
.trend-exam p{
    color: #aaa;
    font-size: 14px;
    margin: 10px 0;
}
.trend-exam p span{
    text-transform: capitalize;
}
.trend-exam span{
    font-size: 14px;
    color:#363636;
    text-transform: uppercase;
    font-weight:400;
}
.trend-exam .course-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.trend-exam .rate {
    display: flex;
    align-items: center;
}
.fa-star{
    color: #969696;
    font-size: 15px;
    padding: 0 2px;
}
.fa-star.active{
    color: #fac917;
}
/*---------testimonials----------*/
.testimonials {
    padding: 100px 0;
}
.testimonials h2{
    text-align: center;
    font-size: 27px;
    color: #454545;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 40px;
}
.testimonials .owl-theme .container-item p{
    color: #7d7d7d;
    font-size: 16px;
    text-align: center;
    width: 50%;
    margin: 30px auto 0;
}
.testimonials .owl-theme{
    position: relative;
}
.testimonials .owl-theme .owl-nav [class*=owl-]{
    background-color: transparent;
    position: absolute;
    top: 20%;
}
.testimonials .owl-theme .owl-nav i {
    font-size: 70px;
    color: black;
}
.testimonials .owl-theme .owl-nav .owl-next {
    right: 10%;
}
.testimonials .owl-theme .owl-nav .owl-prev {
    left: 10%;
}
.testimonials .owl-theme .owl-dots .owl-dot span{
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px 3px 0;
}
.testimonials .owl-theme .owl-dots .owl-dot.active span {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 50px;
    height: 50px;
    margin: 0px 3px 0;
    box-shadow: 0 2px 10px 2px #c7c7c7;
}
.testimonials .owl-theme .owl-dots .owl-dot:nth-child(1) span {
    background: url("../images/x1.png")no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.testimonials .owl-theme .owl-dots .owl-dot:nth-child(2) span {
    background: url("../images/x2.png")no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.testimonials .owl-theme .owl-dots .owl-dot:nth-child(3) span {
    background: url("../images/x3.png")no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.testimonials .owl-theme .owl-dots .owl-dot:nth-child(4) span {
    background: url("../images/x4.png")no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.testimonials .owl-theme .owl-dots .owl-dot:nth-child(5) span {
    background: url("../images/x5.png")no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*--------------Subscribe-----------------*/
.subscribe{
    background-color: #ff5a5f;
    padding: 100px 0;
}
.subscribe h2{
    text-align: center;
    font-size: 27px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.subscribe h4{
    font-weight: lighter;
    text-align: center;
    font-size: 14px;
    color: white;
    margin: 20px 0 40px;
}
.subscribe .exam-code{
    width: 50%;
    margin: 0 auto;
}
.subscribe .exam-code .exam-co{
    position: relative;
}
.subscribe .exam-code .exam-co button{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 25px;
    background-color: #e2e2e2;
    color: black;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 0;
    cursor: pointer;
    text-transform: uppercase;
}








/*---------------------------Media-----------------------------------------------------------*/
@media (max-width: 992px) {
    /*-----------header--------------*/
    header .logo{
        padding:15px;
        justify-content:center;
    }
    .menu-top{
        margin-top:10px;
        justify-content: center;
    }
    .search{
        margin-top: 15px
    }
    /*-------SignUp---------------------*/
    .sign-head .sign-option h3 a{
        font-size: 15px;
    }
    .sign-head{
        padding: 100px 20px 0 20px;
    }
    .signUp{
        padding: 50px 20px 60px 20px;
    }
    /*-------------------------Index-Page---------------------------------------*/
    /*---------Slider----------*/
    .slider .owl-theme .container-item .slide-text .slide-content {
        width: 90%;
    }
    .slider .owl-theme .container-item .slide-text .slide-content h2{
        font-size: 30px;
        margin: 10px auto;
    }
    .mouse_scroll {
        bottom:0;
    }
    /*---------publisher----------*/
    .publisher h2{
        margin: 0;
    }
    .publisher p{
        font-size: 12px;
    }
    /*---------publisher-video----------*/
    .publish-video .video-content h2 {
        font-size: 25px;
    }
    .publish-video .video-content p {
        font-size: 12px;
        line-height: 1.5;
        margin: 20px 0;

    }
    .publish-video .video-content .add-quiz-button {
        width: 70%;
        margin: 10px 0;
    }
    /*---------Trend-exam----------*/
    .trend-exam h2{
        margin:0 ;
    }
    .trend-exam .course-img {
        height: 160px;
    }
    .trend-exam p{
        font-size: 10px;
        margin: 5px 0;
    }
    .trend-exam span{
        font-size: 10px;
    }
    .fa-star{
        font-size: 10px;
    }

}
@media (max-width: 768px) {
    /*----------------------------Index-page--------------*/
    /*---------Slider----------*/
    .slider .owl-theme .container-item .slide-text .slide-content h2{
        font-size: 20px;
    }
    .slider .owl-theme .container-item .slide-text .slide-content p{
       display: none;
    }
    .slider .add-quiz-button, .slider .save-quiz{
        display: block;
        width: 50%;
        margin: 5px ;
    }
    .slider .add-quiz-button button, .slider .save-quiz button{
        padding: 10px 0;
        font-size: 8px;
    }
    /*---------Mouse----------*/
    .mouse_scroll {
        width: 15px;
        bottom:3px;
    }
    .mouse {
        height: 20px;
    }
    /*-----publish-video-----*/
    .publish-video .video-content h2 {
        font-size: 15px;
    }
    .publish-video .video-content p {
        display: none;
    }
    .publish-video .video-content .add-quiz-button button{
        padding: 10px 0;
    }
    .publish-video .video-content .add-quiz-button button a{
        font-size: 14px;
    }
    .publish-video .video-content i{
        font-size: 50px;
    }
    /*---------testimonials----------*/
    .testimonials h2{
        margin-bottom: 20px;
    }
    .testimonials .owl-theme .container-item p{
        font-size: 12px;
        width: 80%;
    }
    .testimonials .owl-theme .owl-nav i {
        font-size: 30px;
    }
    .testimonials .owl-theme .owl-nav .owl-next {
        right: 0;
    }
    .testimonials .owl-theme .owl-nav .owl-prev {
        left: 0;
    }
    /*--------------Subscribe-----------------*/
    .subscribe .exam-code{
        width: 80%;
    }
    .subscribe .exam-code .exam-co button{
        padding: 14px 14px 13px;
        font-size: 12px;
    }


}
@media (max-width: 576px) {

}













